{% extends "base.html" %}

{% block content %}
<h1>Our Beautiful 3D Models</h1>

{% for model in models %}
    {% include "model.html" %}
{% endfor %}

<ul class="pager">
    {% if pagina.has_prev %}
    <li class="previous">
        <a href="{{ url_for('index', page=pagina.prev_num) }}"><< Prev</a>
    </li>
    {% else %}
    <li class="previous disabled"><a href="#"><< Prev</a></li>
    {% endif %}
    {% if pagina.has_next %}
    <li>
        <a href="{{ url_for('index', page=pagina.next_num) }}">Next >></a>
    </li>
    {% else %}
    <li class="next disabled"><a href="#">Next >></a></li>
    {% endif %}
</ul>
{% endblock%}