<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('detail', id=model.id) }}">
                <!--<img src="/home/zcq/wh3d/wh3d_imgs/105de80a791f6487a9673a39fceeea91.jpg" width="100" height="100" class="img-polaroid" style="margin:1px">-->
                <img src="{{ '/static/img/'~model.id~'.jpg' }}" width="100" height="100" class="img-polaroid" style="margin:1px">
            </a>
        </td>
        <td>
            <p>
                {#{% set other='1212' | int %}#}
                {% set other=model.other|stringtodict %}
                by <strong>{{ model.author }}</strong>;
                <strong>Uploaded on:</strong> {{ other['Uploaded'] }}
            </p>
            <p>
                <a href="{{ url_for('detail', id=model.id)}}">
                    <strong>{{ model.title }}</strong>
                </a>
            </p>
        </td>
    </tr>
</table>